.wave {
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
    animation-duration: 2.1s; /* Change to speed up or slow down */
    animation-iteration-count: infinite; /* Never stop waving :) */
    transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    } /* The following five values can be played with to make the waving more or less extreme */
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
      transform: rotate(0deg);
    }
  }
  .heading-name {
    font-size: 2.5em !important;
    padding-left: 45px !important;
  }
  
  .main-name {
    color: #cd5ff8;
  }
  .backgroundimg{
  
   
    
   
    z-index: -1;
    background-color: #9860f3;
  }

  .textStyle1{
    flex: auto;
    justify-content: center;
    color: #303836;
    text-align: center;
    font-size: 1.5em;
  }
  .textStyle2{
    flex: auto;
    justify-content: center;
    color: #111615;
    text-align: center;
    font-size: 1.25em;
  }
  .textStyle3{
    flex: auto;
    justify-content: center;
    color: #c4dbd6;
    text-align: center;
    font-size: 1.25em;
  }

.home-about-social-links {
  justify-content: center !important;
  padding-top: 15px !important;
  display: inline-block !important;
  position: relative !important;
  padding-inline-start: 0 !important;
}




.home-social-icons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #68187a;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.home-social-icons:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #801f95;
}

.home-social-icons:hover {
  color: #87209e;
  box-shadow: 0 0 5px #87209e;
  text-shadow: 0 0 2px #87209e;
}

.social-icons {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}
.tech-icons {
  font-size: 4.5em !important;
  
  padding: 10px !important;
  opacity: 0.93 !important;
  border: 1px solid rgba(14, 15, 15, 0.349) !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 15px !important;
  border-style: bold;
  display: table !important;
  box-shadow: 4px 5px 4px 3px rgba(221, 217, 224, 0.137) !important;
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;

}
@media (max-width: 767px) {
  .tech-icons {
    margin: 2px !important;
    font-size: 2.25em !important;
   padding: 1px !important;
   
  }
}


.tech-icons:hover {
  transform: scale(1.05) !important;
  overflow: hidden !important;
  border: 2.2px solid rgba(5, 4, 5, 0.883) !important;
}
.tech-icon-images {
  padding: 20px !important;
  line-height: 1.6 !important;
}


 


  
  
    